
.pageClient{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:10px

}

.pageClient_cardInfo{
    width: 100%;
    height: 60%;
}

.pageClient_dataTable{
    width: 100%;
    height: 40%;
}