.createClient {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:10px
}

.createClient main {

    
    width: 65%;
    display: flex;
    flex-direction: row;
}

.createClient main .createClient_formFetch{
    width: 100%;
    height: auto;
}

.createClient aside {
    
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.createClient_data{
    width: 100%;
    height:  100%;
}