.deliveryNote{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.deliveryNote_filter{
    height: 100%;
}

.deliveryNote header{
    height:calc(10% - 10px);
    margin-bottom: 10px;
}

.deliveryNote main{
    height: 90%;
}

.deliveryNote_over{
    display: flex;
    flex-direction: column;
    gap:10px;

}
