.createProject{
    width: calc(100% -20px);
    height: calc(100% -20px);
    flex-direction: row;
    display: flex;
    margin: 10px;
    gap:10px
}
.createProject main{
    width: 75%;
    height: 100%;
}
.createProject aside{
    width: 25%;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap:10px
}
.createProject_client-cardIndo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.createProject_containerButtons{
    display: flex;
    gap:10px;
    width: 100%;
}